  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20" id="contact">
            <div class="ftr-tle">
              <h4 class="white no-padding">Contact Us</h4>
            </div>
            <div class="info-sec">
              <p>792 Techwood Dr NW
              <br>Atlanta, GA
              <br>30332
                <br><br>Webmaster:<br><a href="mailto:tech@gtlambdachi.org">tech@gtlambdachi.org</a></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Quick Links</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
                <li><a href="#about"><i class="fa fa-circle"></i>About</a></li>
                <li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
                <li><a href="#scholarship"><i class="fa fa-circle"></i>Scholarship</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Related Sites</h4>
            </div>
            <div class="quick-info">
              <ul>
                <a href="http://gatech.edu">Georgia Tech</a><br>
                <a href="http://lambdachi.org">Lambda Chi Alpha International</a><br>
                <a href="http://greek.gatech.edu">Georgia Tech Greek Life</a><br>
                <a href="http://omegafi.com">OmegaFi</a><br>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            Copyright © Lambda Chi Alpha Beta Kappa. All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ footer-->

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
  <!-- script src="contactform/contactform.js"></script -->
