<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./head %>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--banner-->
  <section class="banner" id="banner-small">
    <% include ./nav %>
  </section>


  <section id="officers" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="">
          <h1 class="ser-title">Service & Stewardship</h1>
          <br>
          <p class="quote">“The best way to find yourself is to lose yourself in the service of others.”
            — Mahatma Gandhi</p>
          <p class="description">   Our organization strives to be an example of service and stewardship in our many communities: Georgia Tech, Atlanta, and the World. We try to instill an appreciation for this core value in all our members by both participating in and hosting philanthropic events throughout the year:
          </p>
          <img class="center" src="img/baldricks.jpg"/>
          <br>
          <p class="center">   To contact us about our service, contact our Philanthropy Chairman:
              <a href="mailto:theta@gtlambdachi.org">theta@gtlambdachi.org</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <% include ./footer %>

</body>

</html>
