<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./head %>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--banner-->
  <section class="banner" id="banner-small">
    <% include ./nav %>
  </section>


  <section id="officers" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="">
          <h1 class="ser-title"></h1>
        </div>
      </div>
    </div>
  </section>

  <% include ./footer %>

</body>

</html>
